## 15 Classification Task dengan Decision Tree

## Membangun Decision Tree

In [3]:
1 - ( (2/5)**2 + (2/5)**2 + (1/5)**2 )

0.6399999999999999

In [5]:
import pandas as pd
training_data = [
    ['Green', 3, 'Apple'],
    ['Yellow', 3, 'Apple'],
    ['Red', 1, 'Grape'],
    ['Red', 1, 'Grape'],
    ['Yellow', 3, 'Lemon'],]
header = ["Color", "Diameter", "Label"]
pd.DataFrame(training_data, columns=header)

    Color  Diameter  Label
0   Green         3  Apple
1  Yellow         3  Apple
2     Red         1  Grape
3     Red         1  Grape
4  Yellow         3  Lemon

## Dataset